<section>
  <div class="p-4" style="min-height: 950px">
    <div
      class="d-flex justify-content-center"
      style="margin-top: 75px; margin-bottom: 75px"
    >
      <img
        src="/dist/img/fico.png"
        alt="score diagram"
        style="height: 175px; filter: grayscale(100%)"
      />
    </div>
    <section class="text-center">
      <h6
        style="
          word-spacing: 2px;
          letter-spacing: 8px;
          font-weight: 900;
          text-transform: uppercase;
          margin-bottom: 1.5rem;
        "
      >
        Credit ANALYSIS Report
      </h6>

      <div style="margin-bottom: 7rem">
        <p><b>Prepared for</b></p>
        <p>someone</p>
        <p><b>(10/01/2020)</b></p>
      </div>
      <div style="margin-bottom: 7rem">
        <p><b>Prepared by</b></p>
        <p><b> Carl O. Cyrius </b></p>
      </div>
    </section>
    <section style="position: absolute; bottom: 0.25rem">
      <div style="position: relative">
        <aside>
          <article>
            <p>
              <b>The Oasis Firm</b>
              <br />2701 W Oakland Park Blvd, Suite 410 <br />Oakland Park,
              Florida 33311
            </p>
          </article>
        </aside>

        <aside style="position: absolute; top: 0px; left: 650px">
          <article>
            <p>
              www.theoasisfirm.com<br />
              ccyrius@theoasisfirm.com<br />
              (833) 886 2747
            </p>
          </article>
        </aside>
      </div>
    </section>
  </div>
  <hr class="my-5" style="background: #f4f6f9; height: 5px" />
</section>
