<section>
  <div class="p-4" style="min-height: 950px">
    <p class="mt-3">
      <b>
        Welcome to our credit restoration program
        <%=creditsProfile.customer.firstName%>.
      </b>

      We will be with you every step of the way. As we embark on this adventure,
      we’d like to share some things to keep in mind.
    </p>
    <p>
      Credit is our mission. We have made this credit audit report customized to
      your circumstances. In it you will find the five parts to help restore and
      maintain your credit scores. Below are the 5 sections we will cover:
    </p>

    <ul>
      <li>Credit Cost</li>
      <li>Credit Report Highlights</li>
      <li>Credit Concerns</li>
      <li>Credit Repair Process</li>
      <li>Credit Best Practices</li>
    </ul>
    <p class="mt-3">
      Please do not hesitate to contact us for any reason via these means:
    </p>
    <ul>
      <li>Phone:(833) 886-2747</li>
      <li>Email: ccyrius@theoasisfirm.com</li>
      <li>Address: www.theoasisfirm.com</li>
    </ul>

    <p class="mt-3">
      Thank you for trusting us to accompany you on this journey. We are honored
      to be chosen with the opportunity to serve you.
    </p>
  </div>
  <hr class="my-5" style="background: #f4f6f9; height: 5px" />
</section>
