<section>
  <div class="p-4" style="min-height: 950px">
    <h4>Part 1- Credit Cost</h4>
    <h4>Why credit is so important?</h4>

    <p class="text-justify mb-4 mt-4">
      In the scenario below we illustrate the importance of credit by comparing
      the cost of it to a con sumer. Evidently, you will see the difference to
      the consumer as their credit whether they live a life where they are
      driving their dream car or settle for another that gets them from Point A
      to B.
    </p>
    <div class="d-flex justify-content-between">
      <aside>
        <img src="/dist/img/2020-tesla-model-3.jpeg" alt="" />
        <section class="border text-center p-2 my-3">
          <h5>2020 Tesla Model 3</h5>
          <h5>
            <b>$33,960</b>
            <p class="text-muted">60 Month Term</p>
          </h5>
        </section>

        <section class="text-center p-2 my-3">
          <h4><b>Living the dream </b></h4>

          <p><b>Credit Score:</b> 783</p>
          <p><b>Interest Rate:</b> 1.9%</p>
          <p><b>Payment:</b> $593.76 Int.</p>
          <p><b>Paid:</b>$1,665.49</p>
          <p><b>Total Payment:</b> $35,625.49</p>
        </section>
      </aside>
      <aside>
        <img src="/dist/img/2020-toyota-camry.jpeg" alt="" />
        <section class="border text-center p-2 my-3">
          <h5>2020 Toyota Camry</h5>
          <h5>
            <b>$24,425</b>
            <p class="text-muted">60 Month Term</p>
          </h5>
        </section>

        <section class="text-center p-2 my-3">
          <h4><b>Settling for less </b></h4>
          <p><b> Credit Score:</b> 585</p>
          <p><b> Interest Rate:</b> 19.8%</p>
          <p><b> Payment:</b> $644.40</p>
          <p><b>Int. Paid:</b> $14,238.88</p>
          <p><b> Total Payment:</b> $38,663.88</p>
        </section>
      </aside>
    </div>
    <section>
      <p>
        Ultimately, a consumer with great credit pays less for a more fulfilling
        life than a consumer with not so great credit who settles for whatever
        they can get approved for.
      </p>
      <p>
        <b>
          As you can see, the consumer with good credit paid $3,038.39 LESS
        </b>
      </p>

      <p>
        The same concept transfers over to credit cards, loans, mortgages, and
        etc...
      </p>
      <p>
        Sometimes, instead of paying more, the consumer with low credit scores
        can end up being denied for financing altogether.
      </p>
      <p>
        This couple of thousand dollars difference in cars comparison translate
        to hundreds of thousand when it comes to mortgages. Keep in mind the
        effects of living with a low credit score influence factors we did not
        count for. For example, credit score can determine where you live, your
        insurance premiums, and overall risk to lenders.
      </p>

      <p>
        Restoring your credit score will lower your expenses and save you money
        to apply towards other areas of your life. That could mean living in a
        better school districts or taking a nicer and longer vacation.
      </p>
      <p>
        To help familiarize with credit score, we will answer a few questions
        ahead for you.
      </p>
    </section>
  </div>
  <hr class="my-5" style="background: #f4f6f9; height: 5px" />
</section>
