<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img
      src="../../dist/img/O.jpeg"
      alt="Oasis Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Oasis Crm</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <!-- <if(currentUser.img){%> -->
        <!-- <img
          src="/dist/img/avatar4.png"
          class="img-circle elevation-2"
          alt="User Image"
        /> -->
        <!-- < }else{> -->
        <!-- <img
          src="/dist/img/avatar2.png"
          class="img-circle elevation-2"
          alt="User Image"
        /> -->
        <!-- <}> -->
      </div>
      <!-- <div class="info">
        <a href="#" class="d-block"
          > currentUser.firstName + ' '+ currentUser.lastName%></a
        >
      </div> -->
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>Home Page</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Customers
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/customers" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>View Customers' list</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-user-plus nav-icon"></i>
                <p>Add new Customer</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
          <a href="../calendar.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>Gallery</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../kanban.html" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>Kanban Board</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-envelope"></i>
            <p>
              Mailbox
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/mails" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>Inbox</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/mails/new" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Compose</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-thumbs-down"></i>
            <p>
              Negative Items
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/negativeItemsCategories" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>View All</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/negativeItemsCategories/new" class="nav-link">
                <i class="fas fa-plus nav-icon"></i>
                <p>Create new one</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-secret"></i>
            <p>
              Admin
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/users" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>Admin list</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/new" class="nav-link">
                <i class="fas fa-user-plus nav-icon"></i>
                <p>Add new admin</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">MISCELLANEOUS</li>

        <li class="nav-item">
          <a href="/docs" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
