<% layout('blank') -%>
<div class="card card-default">
  <div class="card-body">
    <%- include('../partials/customer/edit.ejs')%>
    <!-- <form action="/customers/" method="post"> 
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
              placeholder="First name"
              name="customer[firstName]"
            />
          </div>

          <div class="form-group">
            <label>Last name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
              placeholder="Last name"
              name="customer[lastName]"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Middle name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
              placeholder="Middle name"
              name="customer[middleName]"
            />
          </div>
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control form-control-sm"
              id="exampleInputPassword1"
              placeholder="Middle name"
              name="customer[email]"
            />
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-block btn-primary">Create</button>
    </form>-->
  </div>
</div>
